<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연습!!!!!!!!</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        #container{
            width: 800px;
            margin : 20px auto;
        }
        #table-view, #table-view th, #table-view td {
            text-align: center;
            border: 2px solid #bbb;
            border-collapse: collapse;
            padding: 5px;
        }
        th {
            color : rgb(132, 39, 219);
            background-color: aliceblue;
            width: 150px;
            /* font-size: 30px; */
        }
        td{
            width: 500px;
        }
        #contents{
            padding: 30px;
            height: 100px;
        }
        .t-margin {
            margin-top : 10px;
        }
        .comment-pad {
            padding : 0px 30px;
        }
        .t-margin th{
            background-color: azure;
            color : black;
        }
       

    </style>
</head>
<body>
    <div id="app">
        <div id="container">
            <div >
                <table id="table-view">
                    <tr>
                        <th>제목</th>
                        <td>{{info.TITLE}}</td>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td>{{info.USERNAME}}</td>
                    </tr>
                    <tr>
                        <th>작성일</th>
                        <td>{{info.CDATETIME}}</td>
                    </tr>
                    <tr>
                        <th>조회수</th>
                        <td>{{info.CNT}}</td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td id="contents">{{info.CONTENTS}}</td>
                    </tr>
                </table>
            </div>
            <div class="t-margin">
                <table id="comment-table">
                    <tr>
                        <th>작성자</th>
                        <th>댓글 내용</th>
                    </tr>
                    <tr v-for="item in commentList">
                        <th>{{item.USERID}}</th>
                        <td class="comment-pad">{{item.CONTENTS}}</td>
                    </tr>
                </table>
            </div>
            <div class="t-margin">
                <table style="border: 2px solid #ddd; border-radius: 10px;">
                    <tr>
                        <th style="background-color: #eee;">댓글입력 : </th>
                        <td style="padding : 10px 30px; width : 400px;">
                            <textarea 
                                v-model="comment" cols="50" rows="5"></textarea>
                        </td>
                        <td style="width : 90px;">
                            <button @click="fnCommentSave">저장</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="margin-top : 10px">
                <button style="margin-right: 5px;" @click="fnRemove">삭제</button>
                <button @click="fnEdit">수정</button>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                info : {},
                commentList : [],
                boardNo : "",
                comment : ""
            };
        },
        methods: {
            fnInfo : function() { 
                var self = this;
                var nparmap = {boardNo : self.boardNo};
                $.ajax({
                    url: "http://localhost:3000/view",  // 서버 주소 수정 (http:// 포함)
                    dataType: "json",
                    type: "POST", // GET, POST
                    data: JSON.stringify(nparmap),   // 서버로 보낼 데이터
                    contentType: "application/json",
                    success: function(data) {
                        console.log(data);
                        self.info = data.info;
                        self.commentList = data.commentList;
                    }
                });
            },
            fnRemove : function(){
                var self = this;
                var nparmap = {boardNo : self.boardNo}; // {boardNo}
                if(!confirm("정말 삭제할거?")){
                    return;
                }
                $.ajax({
                    url: "http://localhost:3000/remove",  // 서버 주소 수정 (http:// 포함)
                    dataType: "json",
                    type: "POST", // GET, POST
                    data: JSON.stringify(nparmap),   // 서버로 보낼 데이터
                    contentType: "application/json",
                    success: function(data) {
                        alert("삭제되었습니다!");
                        location.href="board-list.html";
                        // history.back();
                        
                    }
                });
            },
            fnEdit : function(){
                // board-edit.html 페이지로 이동
                // 페이지 이동시에 게시글번호(boardNo)를 같이 보내고
                // board-edit.html에서는 boardNo를 변수에 저장
                let self = this;
                location.href="board-edit.html?boardNo="+self.boardNo;
            },
            fnCommentSave : function (){
                let self = this;
                let nparmap = {
                    comment : self.comment,
                    boardNo : self.boardNo
                };
                $.ajax({
                    url: "http://localhost:3000/comment/save",  // 서버 주소 수정 (http:// 포함)
                    dataType: "json",
                    type: "POST", // GET, POST
                    data: JSON.stringify(nparmap),   // 서버로 보낼 데이터
                    contentType: "application/json",
                    success: function(data) {
                       if(data.msg=="success"){
                        alert("댓글이 등록되었습니다.");
                        self.fnInfo();
                       } else {
                        alert("오류발생!");
                       }
                        
                        
                    }
                });
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            const queryParams = new URLSearchParams(window.location.search);
            this.boardNo = queryParams.get('boardNo'); 
            console.log("boardNo ===> ", this.boardNo);
            this.fnInfo();
        }
    });

    app.mount('#app');
</script>
